cnf/config.yml
www
vendor
.env

!www/sites/default/README.md

# Ignore paths that contain user-generated content.
*/sites/*/env.json
*/sites/*/files
*/sites/*/private

# Ignore build files
build/*/ref_db
build/*/ref_db/*.sql*
build/*/reroute_email
build/environment

.htaccess

# Ignore Vagrant box
.vagrant/

.DS_Store
.bundle
.ruby-version
.sass-cache
