drupal:
    settings:
        db_url: "mysql://root:pass@localhost/default"
        databases:
            default:
                default:
                    database: default
                    username: default
                    password: default
                    driver: mysql
                    host: localhost
    ini: {}
    include:
        require_once: ["vendor/autoload.php"]
